

/*activities section*/

.activities-section {
    padding: 50px;
    background-color: rgb(236, 227, 227); /* Updated background color */
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.1);
    margin: 20px;
  }
  
  .activities-section h2 {
    font-size: 2rem;
    font-weight: bold;
    color: #000;
    margin-bottom: 30px;
  }
  
  .activities-photos, .activities-videos {
    margin: 20px 0;
  }
  
  .photos-carousel, .videos-carousel {
    display: flex;
    overflow-x: scroll;
    gap: 20px;
    padding: 20px;
    scroll-behavior: smooth; /* Smooth scrolling added */
    margin: 1px;
  }
  
  .photos-carousel img, .videos-carousel video {
    width: 300px;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease; /* Smooth hover effect */
  }
  
  .photos-carousel img:hover, .videos-carousel video:hover {
    transform: scale(1.05); /* Hover zoom effect */
  }
  
  /* Hide scrollbar */
  .photos-carousel::-webkit-scrollbar, 
  .videos-carousel::-webkit-scrollbar {
    display: none;
  }
  
  /* Scrollbar styling for non-Webkit browsers */
  .photos-carousel, .videos-carousel {
    scrollbar-width: none; /* Firefox */
  }
  
  @media (max-width: 768px) {
    .photos-carousel img, .videos-carousel video {
      margin-left: 0px;
      margin-right: 0px;/* Adjust for smaller screens */
    }
  
    .activities-section {
      padding: 50px;
      background-color: rgb(236, 227, 227); /* Updated background color */
      text-align: center;
      border-radius: 10px;
      box-shadow: 0 1px 6px rgba(0, 0, 0, 0.1);
      margin: 10px;
    }
    .photos-carousel, .videos-carousel {
      display: flex;
      overflow-x: scroll;
      gap: 20px;
      padding: 10px;
      scroll-behavior: smooth; /* Smooth scrolling added */
      margin: -20px;
    }

    .carousel-buttons{
      margin-top: 30px;
    }
  }
  
  @media (max-width: 480px) {
    .photos-carousel img, .videos-carousel video {
      margin-left: 0px;
      margin-right: 0px;/* Adjust for smaller screens */
      max-width: 90%;
    }
  
    .activities-section {
      padding: 50px;
      background-color: rgb(236, 227, 227); /* Updated background color */
      text-align: center;
      border-radius: 10px;
      box-shadow: 0 1px 6px rgba(0, 0, 0, 0.1);
      margin: 10px;
    }
    .photos-carousel, .videos-carousel {
      display: flex;
      overflow-x: scroll;
      gap: 20px;
      padding: 10px;
      scroll-behavior: smooth; /* Smooth scrolling added */
      margin: -20px;
    }

    .carousel-buttons{
      margin-top: 30px;
    }
  }
  
  
  