.auth-container {
  max-width: 400px;
  margin: 20px auto; /* Added margin for spacing on smaller screens */
  padding: 20px;
  background-color: #f5f5f5;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-top: 20px;
}

.auth-container h2 {
  text-align: center;
  color: #333;
  font-size: 1.5rem;
}

.auth-form {
  display: flex;
  flex-direction: column;
}

.form-group {
  margin-bottom: 15px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
  color: #555;
}

.form-group input {
  width: 100%;
  padding: 10px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.form-button {
  background-color: #007bff;
  color: white;
  padding: 10px;
  font-size: 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.form-button:hover {
  background-color: #0056b3;
}

.auth-toggle {
  text-align: center;
  margin-top: 10px;
  font-size: 14px;
}

.auth-toggle-link {
  color: #007bff;
  cursor: pointer;
  text-decoration: underline;
  transition: color 0.3s ease;
}

.auth-toggle-link:hover {
  color: #0056b3;
}

/* Responsive adjustments */
@media (max-width: 768px) {
  .auth-container {
    max-width: 400px;
    margin: 20px auto; /* Added margin for spacing on smaller screens */
    padding: 20px;
    background-color: #f5f5f5;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-top: 10px;
  }

  .auth-container h2 {
    font-size: 1.3rem; /* Slightly smaller font size for headings */
  }

  .form-group input {
    padding: 10px; /* Adjust input padding for smaller screens */
    font-size: 13px;
  }

  .form-button {
    font-size: 15px; /* Slightly smaller font size for buttons */
    padding: 8px;
  }
}

@media (max-width: 480px) {
  .auth-container {
    max-width: 400px;
    margin: 20px; /* Added margin for spacing on smaller screens */
    padding: 20px;
    background-color: #f5f5f5;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-top: 10px;
  }

  .auth-container h2 {
    font-size: 1.2rem; /* Compact heading size */
  }

  .form-group input {
    padding: 10px; /* Compact padding for inputs */
    font-size: 12px;
  }

  .form-button {
    font-size: 14px;
    padding: 7px;
    margin: 10px;
  }

  .auth-toggle {
    font-size: 13px; /* Adjust font size for toggle text */
  }
}
