/* General Navbar Styles */
.navbar {
  background: linear-gradient(135deg, #444, #222);
  padding: 1rem 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  z-index: 1000;
  position: relative;
  margin: 0;
  height: 90px;
  width: 100%;
  box-sizing: border-box;
}

/* Centering the Logo */
.logo img {
  height: 100%;
  max-height: 50px;
  margin: auto 0; /* Center the logo vertically */
  display: block;
  cursor: pointer;
}

/* Standard Navigation Links */
.nav-links {
  display: flex;
  gap: 0.3rem; /* Adjust spacing between links */
  list-style: none;
  margin-right: 30px;
  padding: 0;
}

.nav-links li button {
  background: none;
  border: none;
  color: #fff; /* Button text color */
  font-size: 16px;
  cursor: pointer;
  padding: 5px 10px;
  transition: color 0.3s, background-color 0.3s;
}

.nav-links li button:hover {
  background-color: #555;
  border-radius: 5px;
}

/* Mobile Menu Toggle Button */
.mobile-menu-toggle {
  display: none;
  font-size: 24px;
  color: #fff; /* Mobile menu icon color */
  background: none;
  border: none;
  cursor: pointer;
  max-width: 40px;
}

/* Mobile Drawer */
.mobile-drawer {
  position: fixed;
  top: 0;
  right: -100%;
  height: 100vh;
  width: 250px;
  background-color: #444;
  box-shadow: -2px 0 5px rgba(0, 0, 0, 0.5);
  transition: right 0.3s ease-in-out;
  display: flex;
  flex-direction: column;
  padding: 20px;
  gap: 2px;
}

.mobile-drawer.open {
  left: 0;
  width: 40%;

}

.drawer-close-btn {
  background: none;
  border: none;
  color: #fff; /* Close button color */
  font-size: 24px;
  align-self: flex-end;
  cursor: pointer;
  
}

.drawer-links {
  list-style: none;
  margin: 20px 0 0 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 1px;
  
}

.drawer-links li button {
  background: none;
  border: none;
  color: #fff; /* Drawer link text color */
  font-size: 14px;
  cursor: pointer;
  text-align: left;
  padding: 7px;
  transition: background-color 0.3s;
  margin-top: 1px;
}

.drawer-links li button:hover {
  background-color: #555;
  border-radius: 5px;
}

.navbar.hidden {
  transform: translateY(-100%);
  transition: transform 0.3s ease-in-out;
}

.navbar.visible {
  transform: translateY(0);
  transition: transform 0.3s ease-in-out;
}


@media (max-width: 1500px) {
  .mobile-menu-toggle {
    display: none;
    font-size: 24px;
    color: #fff; /* Mobile menu icon color */
    background: none;
    border: none;
    cursor: pointer;
    max-width: 70px;
  }

  .nav-links {
    display: none;
  }

  .mobile-menu-toggle {
    display: block; /* Show toggle button on small screens */
  }

  .mobile-drawer.open {
    left: 0;
    width: 20%;
  
  }
}

/* Responsive Styles */
@media (max-width: 768px) {
  .nav-links {
    display: none;
  }

  .mobile-menu-toggle {
    display: block; /* Show toggle button on small screens */
  }
}


@media (max-width: 664px) {
  .mobile-menu-toggle {
    display: none;
    font-size: 24px;
    color: #fff; /* Mobile menu icon color */
    background: none;
    border: none;
    cursor: pointer;
    max-width: 70px;
  }

  .nav-links {
    display: none;
  }

  .mobile-menu-toggle {
    display: block; /* Show toggle button on small screens */
  }

  .mobile-drawer.open {
    left: 0;
    width: 30%;
  
  }
}

@media (min-width: 480px) {
  .mobile-drawer {
    position: fixed;
    top: 0;
    right: -100%;
    height: 100vh;
    width: 250px;
    background-color: #444;
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.5);
    transition: right 0.3s ease-in-out;
    display: flex;
    flex-direction: column;
    padding: 20px;
  }
}